

#welcome{
  display: flex;
  width: 100%;
  height: 93.9vh;;
  margin: auto;
}
#welcome-marcus{
  margin-bottom: 20px;
  animation: welcome 3s 1;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  @keyframes welcome {
    0%{
      transform: scale(1.3);
      margin-bottom: -40px;
    }
    30%{
      transform: scale(1.3);
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      transform: scale(1.3);
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }
}

.welcome-text{
  opacity: 0;
  letter-spacing: 3px;
  padding:20px;
  font-weight: bold;
}
.center-text-box{
  display: flex;
  margin: auto;
}
.center-text{
  margin: auto; /* Important */
  text-align: center;
}



#slide{
  transform-origin: left;
  transform: perspective(60vh);
  transition: all 600ms ease;
}
.background-img{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url("/img/welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-break{
  width: 100%;
  height: 20vh;
}


/* img */
.sky-img{
  background-image: url("/img/berg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background colors */
.blue-sky{
  background-color: #494E6B;
}
.dawn-sky{
  background-color: #98848F;
}
.rose-sky{
  background-color: #985E6D;
}
.twilight-sky{
  background-color: #542E4A;
}
.deep-sky{
  background-color: #192231;
}

/* Text color */
.blue-sky-text{
  color: #494E6B;
}
.dawn-sky-text{
  color: #98848F;
}
.rose-sky-text{
  color: #985E6D;
}
.twilight-sky-text{
  color: #542E4A;
}
.deep-sky-text{
  color: #192231;
}

/* gradients */
.twilight-dawn-grad {
  background-image: linear-gradient(to bottom right, #192231, #98848F);
}
