

#welcome{
  display: flex;
  width: 100%;
  height: 93.9vh;;
  margin: auto;
}
.center-text-box{
  display: flex;
  margin: auto;
}
.center-text{
  margin: auto; /* Important */
  text-align: center;
}




/* img */
.sky-img{
  background-image: url("/img/berg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background colors */
.blue-sky{
  background-color: #494E6B;
}
.dawn-sky{
  background-color: #98848F;
}
.rose-sky{
  background-color: #985E6D;
}
.twilight-sky{
  background-color: #542E4A;
}
.deep-sky{
  background-color: #192231;
}

/* Text color */
.blue-sky-text{
  color: #494E6B;
}
.dawn-sky-text{
  color: #98848F;
}
.rose-sky-text{
  color: #985E6D;
}
.twilight-sky-text{
  color: #542E4A;
}
.deep-sky-text{
  color: #192231;
}

/* gradients */
.twilight-dawn-grad {
  background-image: linear-gradient(to bottom right, #192231, #98848F);
}
