
/**
*   General Mobile Style Classes:
**/

/**
*   Large screens: ( > 800px )
**/
.titleText {
  font-size: 55px!important;
  line-height:50px!important;
}

.subtitleText {
  font-size: 32px!important;
}

.breadText {
  font-size: 28px!important;
}
.tinyText {
  font-size: 24px!important;
}

/**
*  MEDIUM PHONES & PADS 600px - 800px
***/
@media screen and (max-width: 800px) {
  .titleText {
    font-size: 45px!important;
    line-height:50px!important;
  }

  .subtitleText {
    font-size: 26px!important;
  }

  .breadText {
    font-size: 24px!important;
  }
  .tinyText {
    font-size: 20px!important;
  }

  .btn-large {
    transform: scale(1.35)!important;
  }
  .modal .btn-large {
    margin:20px;
  }
}

/**
*  SMALL PHONES 0 - 600px
***/
@media screen and (max-width: 600px) {
  .titleText {
    font-size: 30px!important;
    line-height:50px!important;
  }

  .subtitleText {
    font-size: 24px!important;
  }

  .breadText {
    font-size: 20px!important;
  }
  .tinyText {
    font-size: 18px!important;
  }

  .btn-large {
    transform: scale(1.3)!important;
  }
}
