<template name="Coder_designer">
<section class="section-border create-space">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="col s6 l6 offset-l5 offset-s3">
                <span class="subtitleText">Coder</span>   
                <ul class="listItem-text">
                    <li>Angular</li>
                    <li>D3</li>
                    <li>Meteor.js</li>
                    <li>Front-end development</li>
                    <li>Smashing buggs</li>
                </ul>
            </div>
        </div>
        <div class="col s12 m12 l4 center-align">
            <img class="create-space" style="height: 100%; width: 100%;" src="/img/marbel.jpeg" alt="as">
        </div>
        <div class="col s12 m12 l4">
            <div class="col s6 l6 offset-l2 offset-s3">
                <span class="subtitleText">Designer</span>   
                <ul class="listItem-text">
                    <li>UX design</li>
                    <li>UI design</li>
                    <li>Data driven designs</li>
                    <li>Interactions</li>
                    <li>Animations</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</template>