<template name="navbar">
  <nav>
   <div id="navbar" class="nav-wrapper charcoal">
     <a href="#!" class="brand-logo">fullStackMac</a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a class="text-lightGrey" href="#">Home</a></li>
       <li><a class="text-lightGrey" href="projects.html">Projects</a></li>
       <li><a class="text-lightGrey" href="#">Contact</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a href="#">Home</a></li>
   <li><a href="projects.html">Projects</a></li>
   <li><a href="#">Contact</a></li>
 </ul>
</template>
