<template name="navbar">
  <nav>
   <div id="navbar" class="nav-wrapper charcoal">
     <a href="#!" class="brand-logo">fullStackMac</a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a class="home-link text-lightGrey nav-text">home</a></li>
       <li><a class="about-link text-lightGrey nav-text">about</a></li>
       <li><a class="showcase-link text-lightGrey nav-text">showcase</a></li>
       <li><a class="contact-link text-lightGrey nav-text">contact</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a class="home-link">home</a></li>
   <li><a class="about-link">about</a></li>
   <li><a class="showcase-link">showcase</a></li>
   <li><a class="contact-link">contact</a></li>
 </ul>
</template>
