/* .arrow {
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}

.arrow:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
} */
.arrow.left {
    left: 0;
    transform: translate3d(0,-50%,0) rotate(-135deg) translate(-70%);
}

.arrow.right {
    right: 0;
    transform: translate3d(0,-50%,0) rotate(45deg) translateY(70%);
}

.arrow:before { 
    content: '';
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
}