<template name="welcome">
  <div style="" id="welcome" class="sky-img center-text-box">
    <div class="center-text">
      <div id="welcome-box" class="z-depth-4 center-text-box">
        <div class="full-opacity center-text">
          <div id="welcome-marcus" class="titleText welcome-marcus-text text-my-orange">Marcus Pousette</div>
          <!-- For med and up -->
          <div class="hide-on-small-only welcome-text">
            <span class="subtitleText text-my-red">INNOVATE</span>
            <span class="subtitleText">&</span>
            <span class="subtitleText text-my-orange">ELEVATE</span>
          </div>
          <!-- For small -->
          <div class="hide-on-med-and-up welcome-text">
            <div class="subtitleText text-my-red">INNOVATE</div>
            <div class="subtitleText">&</div>
            <div class="subtitleText text-my-orange">ELEVATE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
