<template name="welcome">
  <div style="" id="welcome" class="sky-img center-text-box">
    <div class="center-text">

      <div class="z-depth-4 center-text-box" style="height: 60vh; width: 80vw; margin: auto">
        <div class="center-text">
          <div id="welcome-marcus" class="titleText">Marcus Pousette</div>
          <!-- For med and up -->
          <div class="hide-on-small-only welcome-text">
            <span class="subtitleText twilight-sky-text">INNOVATE</span>
            <span class="subtitleText">&</span>
            <span class="subtitleText dawn-sky-text">ELEVATE</span>
          </div>
          <!-- For small -->
          <div class="hide-on-med-and-up welcome-text">
            <div class="subtitleText twilight-sky-text">INNOVATE</div>
            <div class="subtitleText">&</div>
            <div class="subtitleText dawn-sky-text">ELEVATE</div>
          </div>
        </div>
      </div>



    </div>
  </div>
</template>
