<!-- A section describing how i work -->
<template name="method">
  <div id="method" style="overflow-x: hidden;">

    <div class="background-img">
      <div class="method-reveal" style="box-sizing: border-box;">
        <div id="method-innovate" class="method-reveal-box  titleText method-animate text-my-white">
          INNOVATE
          <div class="method-reveal-text breadText text-my-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia totam ipsum voluptatem excepturi dolorum delectus fuga in molestias amet, omnis?
          </div>
        </div>
        <div id="method-elevate" class="method-reveal-box  titleText method-animate text-my-white">
          ELEVATE
          <div class="method-reveal-text breadText text-my-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia totam ipsum voluptatem excepturi dolorum delectus fuga in molestias amet, omnis?
          </div>
        </div>
      </div>
    </div>

    <div id="slide" class="charcoal slide-action">
      <div class="container" style="box-sizing: border-box;">
        <div class="valign-wrapper row" style="height: 20vh;">
          <div class="col s8 offset-s2">
              <div class="titleText text-my-orange center-align">What I can do for you!</div>
          </div>
        </div>

        <div class="black" style="height:10vh;">
          <div class="arrow-container">
            <a href="#" class="arrow right"></a>
          </div>
        </div>

        

        <!-- For large -->
        <div class="row hide-on-med-and-down slide-action">
          {{#each card in cards}}
            <div class="col l6 m6">
              {{> Card_ content=card.content title=card.title clases=card.clases }}
            </div>
          {{/each}}
        </div>

        <!-- For med and down -->
        <div class="row hide-on-large-only slide-action" style="margin-top: 5vh;">
          {{#each banner in banners}}
           {{> Banner_ content=banner.content}}
          {{/each}}
        </div>

      </div>
    </div>

  </div>
</template>
