<!-- A section describing how i work -->
<template name="method">
  <div id="method" style="overflow-x: hidden;">

    <div class="background-img">
      <div class="" style="box-sizing: border-box;">
        <div id="method-innovate" class="method-reveal-text titleText method-animate text-my-white">INNOVATE</div>
        <div id="method-elevate" class="method-reveal-text titleText method-animate text-my-white">ELEVATE</div>
      </div>
    </div>

    <div id="slide" class="charcoal">
      <div style="box-sizing: border-box;">
        <div class="center-align" style="height: 15vh;">
          <div class="titleText text-my-orange header-padding"><b>Why I'm good</b></div>
        </div>

        <!-- For small and medium -->
        <div class="hide-on-large-only">
          <ul class="collection" style="border: 0px;">
            <li class="collection-item avatar li-collection">
              <i class="material-icons circle my-red">favorite</i>
              <span class="title subtitleText text-lightGrey">User experience</span>
              <p class="tinyText text-lightGrey">Consistency in design</p>
            </li>
            <li class="collection-item avatar li-collection">
              <i class="material-icons circle my-red">color_lens</i>
              <span class="title subtitleText text-lightGrey">State of the art</span>
              <p class="tinyText text-lightGrey">Contemporary web design</p>
            </li>
            <li class="collection-item avatar li-collection">
              <i class="material-icons circle my-red">trending_up</i>
              <span class="title subtitleText text-lightGrey">Engage Users</span>
              <p class="tinyText text-lightGrey">Increase Click through rate</p>
            </li>
            <li class="collection-item avatar li-collection">
              <i class="material-icons circle my-red">assessment</i>
              <span class="title subtitleText text-lightGrey">See for your self</span>
              <p class="tinyText text-lightGrey">View my work</p>
            </li>
          </ul>
        </div>

        <!-- For large -->
        <div class="hide-on-med-and-down">
          <div class="row" style="height: 40vh;">
            <!-- How i go about building -->
            <div class="col l5 m5 offset-l1 offset-m1 s12 method-box subtitleText coal text-my-white z-depth-5" style="margin-right: 15px;">
              User experience
              <div class="padding-top-10vh">
                <i class="fas fa-thumbs-up xl-fas-icon text-my-red"></i>
              </div>
            </div>
            <div class="col l5 m5 s12 method-box subtitleText coal text-my-white z-depth-5">
              State of the art
              <div class="padding-top-10vh">
                <i class="fas fa-award xl-fas-icon text-my-red"></i>
              </div>
            </div>
          </div>
          <div class="row hide-on-small-only" style="height: 40vh;">
            <!-- What my work will provide for you -->
            <div class="col l5 m5 s12 offset-l1 offset-m1 method-box subtitleText coal text-my-white z-depth-5" style="margin-right: 15px;">
              Engage Users
              <div class="padding-top-10vh">
                <i class="fas fa-users xl-fas-icon text-my-red"></i>
              </div>
            </div>
            <div class="col l5 m5 s12 method-box subtitleText coal text-my-white z-depth-5">
              View my work
              <div class="padding-top-10vh">
                <i class="fas fa-briefcase xl-fas-icon text-my-red"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>
