<template name="Intro_">
    <section class="section-border create-space">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 m4">
                    <div class="titleText"><b>about me</b></div>
                    <div class="subtitleText" style="color: #5f5e5e; margin: 2vh 0px;">Im a full stack web developer specialized in data driven designs.</div>
                    <div class="tinyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quibusdam ea unde? Error numquam ipsam eius velit aut doloremque magni non debitis maxime ut. Aut illum perspiciatis ut voluptate explicabo.</div>
                </div>
                <div class="col l6 s12 m8">
                    <div class="padding-10">
                        <img style="height: 100%; width: 100%;" src="/img/marbel.jpeg" alt="as">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>