<template name="Card_">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <div class="activator {{ clases }}" style="height: 20vh;">
        
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        {{ title }}
        <i class="material-icons right">more_vert</i>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{ title }}
        <i class="material-icons right">close</i>
      </span>
      <div style="height: 12vh; padding-top: 1vh;">
        {{ content }}
      </div>
      <div class="row valign-wrapper" style="height: 8vh; margin: 0px;">
          <div class="col s6 offset-s3 arrow-container">
            {{> Arrow_ href='#' css=arrow_css clases='card-arrow right' }}
            <span>Showcase</span>
            {{> Arrow_ href='#' css=arrow_css clases='card-arrow left' }}
         </div>
      </div>
    </div>
  </div>
</template>